/* ==========================================================================
   LETS BUILD TODOIST
   ========================================================================== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;1,300&display=swap');
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'Poppins', sans-serif;
  color: #202020;
  background-color: #fafafa;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &::-webkit-scrollbar {
    width: 1em;
  }
  &body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 10px;
  }
}

ul {
  margin: 0;
  padding: 0;
}

@mixin Lists {
  align-items: center;
  border-color: #ffffff;
  border-radius: 5px;
  color: #ffffff;
  display: flex;

  font-size: 14px;
  line-height: 17.5px;
  padding: 5px 18px 5px 5px;
  text-align: left;
  margin-right: 1rem;
  cursor: pointer;
  transition: 0.2s all;
}

@mixin button {
  color: #eee;

  text-shadow: none;
  border: none;
  padding: 0.8rem 1.2rem 0.6em;
  border-radius: 3px;
  cursor: pointer;
}
@mixin actions {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  height: 28px;
  padding: 0 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #ffffff99;
  gap: 1rem;
}

.Backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: initial;
}

.active {
  background-color: rgba(54, 54, 54, 1);
}

.header {
  background: #282828;
  color: #fff;
  padding: 1rem 13.5rem 1rem 5.5rem;
  height: 4.4rem;

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .Logo {
      & img {
        width: 2.5rem;
      }
    }

    .Settings {
      display: flex;
      justify-content: center;
      align-items: center;

      &__lists {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #ffffffab;
        gap: 1.5rem;
      }
      &__list {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        cursor: pointer;
        width: 2.8rem;
        height: 2.8rem;

        & > svg {
          width: 1.9rem;
          height: 1.9rem;
        }

        &:hover {
          background-color: rgba(255, 255, 225, 0.3);
          border-radius: 3px;
        }
        // &:not(:last-child) {
        //   margin-right: 1rem;
        // }
      }
    }
  }
}

.Sidebar {
  flex-basis: 44rem;
  background-color: #282828;
  height: calc(100vh - 4rem);
  color: #ffffffde;
  padding: 3rem 0 0 3.5rem;

  &:hover {
    .plus--icon {
      opacity: 1;
      &:hover {
        background-color: rgba(54, 54, 54, 1);
      }
    }
  }

  &__Generic {
    display: flex;
    flex-direction: column;

    &--lists {
      @include Lists();
      padding: 5px 12px 5px 12px !important;
      span {
        svg {
          height: 1.6rem;
          width: 1.6rem;
        }
      }

      &:hover {
        background-color: rgba(54, 54, 54, 1);
      }
      &:first-child {
        border-color: #5297ff;
        color: #5297ff;
      }
      &:nth-child(2) {
        border-color: #25b84c;
        color: #25b84c;
      }
      &:nth-child(3) {
        border-color: #5297ff;
        color: #5297ff;
      }

      & span:first-child {
        font-size: 2rem !important;
        margin-right: 1rem;
        font-size: 14px;
        line-height: 17.5px;
        text-align: left;
      }
      & span:nth-child(2) {
        align-items: center;
        border-color: #ffffff;
        color: #ffffff;
        display: flex;
        font-size: 14px;
        line-height: 24px;
        text-align: left;
      }
    }
  }

  &__middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1rem;
    margin-top: 2rem;

    & .project {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      padding: 2px 14px;

      h2 {
        font-size: 1.4rem;
      }
    }
    & .plus--icon {
      font-size: 1.7rem;
      opacity: 0;
      padding: 0.5rem;
      border-radius: 0.3rem;
      transition: all 0.2s;
    }
  }

  &__Projects {
    display: flex;
    flex-direction: column;
    margin-top: 1.2rem;
    &--dot {
      content: '';
      display: inline-block;
      width: 10px;
      height: 10px;
      background-color: #979797;
      border-radius: 50%;
    }

    &--name {
      font-size: 1.2rem;
    }
    &-delete {
      .trashIcon {
        opacity: 0;
        transition: all 0.2s;
      }
    }
  }
  .sidebar__project {
    @include Lists();
    padding: 7px 7px 7px 5px;
    justify-content: space-between;
    transition: all 0.2s;

    .project__name-holder {
      display: flex;
      align-items: center;
      padding: 0.2rem 0.8rem;
      gap: 1rem;
    }

    &:hover {
      background-color: rgba(54, 54, 54, 1);

      .Sidebar__Projects-delete {
        .trashIcon {
          opacity: 1;
        }
      }
    }
  }
}

.tasks {
  background-color: #1f1f1f;
  flex-basis: 100%;
  color: #fff;

  display: grid;
  grid-template-columns: 14rem auto 14rem;
  grid-template-rows: 2rem 6rem auto 5rem;

  &__header {
    position: relative;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 0.5px;
      background-color: #9494944d;
      bottom: 0.4rem;
    }

    h2 {
      font-size: 2rem;
    }

    &__controls {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      //gap: 1.5rem;

      & > :not(:last-child) {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        svg {
          width: 2rem;
          height: 2rem;
          fill: #ffffff82;
        }
        span {
          font-size: 1.2rem;
          font-weight: 100;
          color: #ffffffb8;
          margin-right: 0.6rem;
        }
      }
      .actions {
        margin-left: 1rem;
        svg {
          width: 2.5rem;
          height: 2.5rem;
          fill: #ffffff82;
        }
      }

      .comments,
      .share,
      .sort,
      .actions {
        transition: all 0.2s;
        padding: 0.3rem 0.3rem;

        &:hover {
          cursor: pointer;
          background-color: #4d4d4d;

          border-radius: 0.3rem;

          span {
            color: #fff;
            //font-weight: 500;
          }
        }
      }
    }
  }

  &__lists {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
  &__list {
    font-size: 1.4rem;
    list-style: none;
    font-weight: 400;
    color: #ffffffde;

    li {
      display: flex;
      gap: 1rem;
      padding: 1.2rem 0;
      border-bottom: 0.5px solid #ffffff38;

      &:last-child {
        margin-bottom: 2rem;
      }

      &:hover {
        cursor: pointer;
      }

      .checkbox-holder {
        .checkbox {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          height: 18px;
          width: 18px;
          border: 1px solid #dcdcdc69;
          border-radius: 50%;
        }
      }
    }
  }
}

.add-task {
  display: flex;
  justify-content: end;
  align-items: center;
  &__shallow {
    display: flex;
    align-items: center;
    gap: 1rem;

    &:hover {
      .add-task__text {
        cursor: pointer;
        color: #de4c4a;
      }

      .add-task__plus {
        color: #fff !important;
        &::before {
          content: '';
          position: absolute;

          border-radius: 50%;
          background-color: #dd4b39;

          height: 17px;
          justify-content: center;

          width: 21px;
          height: 21px;
          z-index: -1;
          transform: translate(-1.5px, 4px);
        }
      }
    }
  }
  &__plus {
    position: relative;
    cursor: pointer;
    font-size: 2.4rem;
    color: #de4c4a;
    font-weight: 100;
    z-index: 5;
    transition: all 0.2s;
  }
  &__text {
    color: grey;
    font-size: 1.4rem;
    font-weight: 100;
    transition: all 0.2s;
  }
}

.add-task {
  &__main {
    width: 100%;
    .editting__area {
      display: flex;
      width: 100%;
      flex-direction: column;
      gap: 1rem;

      border-radius: 5px;
      padding: 1.5rem 1rem 1.5rem;
      cursor: text;
      border-color: hsla(0, 0%, 100%, 0.1);
      background-color: #171717;

      &:focus-within {
        border: 1px solid hsla(0, 0%, 100%, 0.4);
      }
      .input__field {
        .add-task__content {
          width: 100%;
          border: none;
          background-color: #171717;
          color: white;
          outline: none;
          font-size: 1.4rem;
          font-weight: 100;
        }
      }
    }
  }
  &__schedule {
    @include actions();
    &:hover {
      cursor: pointer;
      background-color: #363636;
    }
  }
  &__selectproject {
    @include actions();
    &:hover {
      cursor: pointer;
      background-color: #363636;
    }
  }
  .add__task__extrafield {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: flex-start;
  }

  .control__action {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;

    .add-task__submit {
      @include button();
      background-color: #dd4b39;
    }
    .add-task__cancle {
      font-size: 1.3rem;
      font-weight: 100;
      cursor: pointer;
    }
  }
}

.project__delete-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #282828;

  &__inner {
    padding: 2rem 3.5rem;
    .delete__confirm {
      position: relative;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 2rem 2.4rem 0 2.4rem;
    }
  }

  & .alert {
    position: absolute;
    top: 0rem;
    left: -1rem;
    color: #949494;
    & svg {
      width: 1.7rem;
      height: 1.7rem;
    }
  }

  .controles {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.2rem;
    padding: 1.5rem;
    span {
      @include button();
      background-color: #353535;
    }
    button {
      @include button();
      background-color: #de4c4a;
    }
  }
}

.Content {
  display: flex;
  &:first-child {
    flex-basis: 30rem;
  }
  &:nth-child(2) {
    flex-basis: auto;
  }
}
